.login_container {
    margin-top: 2rem;
    max-width: 700px;
    background-color: #212529;
    color: white;
    font-weight: 500;
    padding: 30px 0;
}
.login_container label{
    padding: 0;
    margin: 0;
}

.login_container button {
    width: 100%;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}

.login_container .login_left{
    display: flex;
    align-items: center;
    text-align: center;
}
.login_container .login_left img{
    width: 60%;
}
.acc{
    text-decoration: none;
    color:#0B5ED8;
    cursor: pointer;
}

.login_container .row {
margin: auto;
}
.login_container form{
    margin-top: 25px;
}

@media screen and (max-width:700px) {
   .login_container{
    height: calc(100vh - 80px);
    margin-top: 0;
    display: flex;
    align-items: center;
   }   
}