/*================DetailOfMovie start================*/
.overview-title{
    padding-top: 20px;
}
  .overview{
    margin-top: 50px;
  }
  .overview p{
    font-size: clamp(15px,20vw,19px);
  }
  .other p{
    margin: 0;
    font-size: 15px;
  }
  /*=========DetailOfMovie end===========*/
  /*==========provider area start====== */
  .provider2{
    /* background-color: red; */
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    overflow-x: auto;
  }
  .provider{
    margin-top: 50px;

  }
  .provider h3{
    font-size: 2rem;
  }
  .provider img{
    width: 80%;
    box-shadow: 0 0 10px black;
  }
  .provider p{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .providers{
    display: flex;
    flex-direction: column;
  }
  .providers h4{
    padding-left: 10px;
  }
  .p1{
    display: flex;
  }
  
  .ott{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
  }
  .ott p{
    text-align: center;
  }
  /*==========provider area End====== */
  .trailer{
    margin-top: 50px;
    width: clamp(100%,40vw,560px);
    height: clamp(200px,30vw,315px);
  }
  
  
  /*===============review Area Start================ */
  .review{
    margin-top: 30px;
  }
  .review textarea{
    height: 60px;
  }
  .review form{
    display: flex;
    flex-direction: column;
  }
  .review form button{
    width: 100px;
    margin-top: 5px;
  }
  .reviewCon {
    color: black;
  }
  .alertC{
    position: absolute;
  }
  /*===============review Area End================ */
  /* ===============cast of movie Start================= */
  .detailofmovie2{
   /* background: url(https://image.tmdb.org/t/p/w500/5ZuctJh5uX5L2dz1CjA7WsTJwZk.jpg); */
   background-repeat: repeat-y;
   background-size: 100%;
   color: white;
  }
  .detailofmovie2 .close{
    margin-top: 20px;
  }
  .detailofmovie{
    background-color: rgba(0, 0, 0, 0.749);
    box-shadow: 0 0 10px black;
    padding: 0 Clamp(10px, 5vw, 40px);
  }
  .castContainer{
    margin-top: 20px;
  }
  .castDetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .castImg{
    margin: 10px;
  }
  .cast-img{
    width: 110px;
  }
  .cast-img h6{
    font-weight: 600;
  }
  .cast-img img{
    height: 150px;
  }
  /* ===============cast of movie End================= */
  
  /* ============similar movie area start============== */
  .similar_movie{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .similar_movie .card{
    margin: 10px 20px 10px 0;
    width: 200px;
    flex-shrink: 0;
  }
  .similar_movie .card-body p{
    margin: 0;
  }
  .similar_movie .card-body .release_date{
    color: gray;
  }
  .similar_movie .card-body .card-text{
    color:black;
  }
  /* ============similar movie area End============== */
  
  
  .close{
    cursor: pointer;
  }

  
  