.slider {
  position: relative;
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.slider h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding-left: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
